@import '@/mixins/typography.sass'
@import '@/mixins/elevation.sass'
.BingoButton
  display: inline-block
  -webkit-tap-highlight-color: transparent
  button
    @include typography(small)
    @include elevation(2)
    width: 100%
    height: 64px
    border-radius: 16px
    padding: 0 24px
    border: none
    outline: none
    box-sizing: border-box
    cursor: pointer
    transition: box-shadow .3s, background .3s
    &:hover
      @include elevation(3)
  &.disabled
    opacity: .5
    cursor: default
    button
      cursor: default
      &:hover